In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [4]:
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/12/22,2/13/22,2/14/22,2/15/22,2/16/22,2/17/22,2/18/22,2/19/22,2/20/22,2/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,170152,170604,171246,171422,171519,171673,171857,171931,172205,172441
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,267551,268008,268304,268491,268940,269301,269601,269904,270164,270370
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,261226,261752,262165,262570,262994,263369,263685,263936,264054,264201
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,37140,37140,37277,37361,37452,37522,37589,37589,37589,37589
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,98514,98514,98514,98555,98568,98585,98605,98617,98638,98658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,600128,600128,613846,618527,622175,625028,627956,627956,627956,633684
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,498,501,501,505,507,507,508,508,509,509
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11664,11671,11679,11699,11707,11718,11731,11731,11736,11741
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,309293,309502,309579,309870,310155,310474,310764,311016,311194,311264
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,231299,231381,231603,231603,232213,232598,233030,233224,233352,233571

# Soal 1

Ambil data kasus kumulatif Covid-19 tanggal 27 Agustus 2021 untuk negara-negara dengan latitude di bawah 0. Negara mana yang paling tinggi jumlah kumulatif kasus Covidnya per tanggal tersebut? Jika bukan Indonesia, bandingkan jumlah kumulatif kasus negara tersebut dengan Indonesia per tanggal yang sama!

In [6]:
data[['Country/Region','1/20/22']][data['Lat']<0].sort_values(by='1/20/22',ascending=False).head()

    Country/Region   1/20/22
31          Brazil  23595178
7        Argentina   7576335
149      Indonesia   4277644
236   South Africa   3572860
212           Peru   2780049

Negara dengan jumlah kasus kumulatif per tanggal 27 Agustus 2021 adalah Brazil dengan Jumlah kasus 20 Juta-an. Sedangkan Indonesia peringkat ketiga dimana jumlah kasus sebanyak 4 Juta-an

## Soal 2

Buatlah fungsi untuk menghitung jumlah kasus harian Covid-19 (dataset yang disediakan merupakan jumlah kasus kumulatif)!

In [7]:
# Kumulatif= penjumlahan dari data sebelumnya. Untuk menghitung kasus harian, 
#cukup mengurangi nilai saat ini dengan sebelumnya

#Sebelum menghitung kasus harian, tanggal diubah menjadi baris dan negara menjadi Kolom

def daily_case(dat):
    dat=dat.set_index('Country/Region')
    dat=dat.drop(columns=['Province/State','Lat','Long']).transpose()
    
    return dat.diff().fillna(0)

In [8]:
daily=daily_case(data)
daily

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2/16/22,97.0,449.0,424.0,91.0,13.0,0.0,53.0,17034.0,1774.0,526.0,...,6640.0,296.0,0.0,1065.0,34737.0,3648.0,2.0,8.0,285.0,610.0
2/17/22,154.0,361.0,375.0,70.0,17.0,0.0,0.0,16650.0,1723.0,522.0,...,5517.0,241.0,0.0,926.0,36200.0,2853.0,0.0,11.0,319.0,385.0
2/18/22,184.0,300.0,316.0,67.0,20.0,0.0,5.0,15389.0,1417.0,332.0,...,7179.0,272.0,0.0,979.0,42439.0,2928.0,1.0,13.0,290.0,432.0
2/19/22,74.0,303.0,251.0,0.0,12.0,0.0,8.0,7807.0,1469.0,551.0,...,4355.0,191.0,4.0,606.0,54830.0,0.0,0.0,0.0,252.0,194.0
2/20/22,274.0,260.0,118.0,0.0,21.0,0.0,0.0,4450.0,700.0,435.0,...,3337.0,204.0,0.0,0.0,47200.0,0.0,1.0,5.0,178.0,128.0

## Soal 3

Pada tanggal berapa puncak tertinggi kasus Covid-19 di Indonesia? bandingkan dengan tanggal 27 Agustus 2021, apakah mengalami penurunan jumlah kasus?

In [9]:
daily['Indonesia'][daily['Indonesia']==daily['Indonesia'].max()]

2/16/22    64718.0
Name: Indonesia, dtype: float64

In [10]:
daily['Indonesia'].loc['1/20/22']

2116.0

Puncak kasus harian tertinggi terjadi di tanggal 15 Juli 2021 yaitu sebanyak 56.757 kasus. Jika dibandingkan jumlah kasus harian pada tanggal 27 Agustus 2021, jumlahnya sudah jauh menurun mencapai 12.618 kasus

## Soal 4

Buatlah sebuah list dimana berisikan jumlah kasus harian Covid-19 dengan ketentuan hanya mengambil data Indonesia saja dan jumlah kasus di bawah 10000. Berapa jumlah hari dengan kasus di bawah 10000?

In [11]:
indo=[]

for case in daily['Indonesia']:
    if case<10000:
        indo.append(case)

print(len(indo))

634